<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- favicon image courtesy of icons8.com -->
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=100&id=dxoYK8bxqiJr&format=png&color=000000">
    <!-- load "Oswald" font from Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <!-- import custom fonts (DSEG7 modern and classic) courtesy of keshikan.net -->
    <link rel="stylesheet" href="./static/styles/fonts.css">
    <!-- load external css file -->
    <link rel="stylesheet" href="./static/styles/style.css">
</head>

<body>
    <div id="page">
        <div id="panel">
            <div id="top">
                <form id="unlockbutton" action="/" method="post">
                    <input id="name" name="name" value="<%= name %>" size="20" autocomplete="off">
                    <% if (locked) { %>
                        <button type="submit">Unlock</button>
                        <% } else { %>
                            <button type="submit" disabled>Unlocked</button>
                            <% } %>
                </form>
            </div>

            <div id="unlocktimer">
                <span id="delaytext">Lock Delay</span>
                <div id="timer"></div>
            </div>

            <div id="resultSet">
                <div id="result1" class="resultLights"></div>
                <div id="result2" class="resultLights"></div>
                <div id="result3" class="resultLights"></div>
                <div id="result4" class="resultLights"></div>
                <div id="result5" class="resultLights"></div>
                <div id="result6" class="resultLights"></div>
                <div id="result7" class="resultLights"></div>
                <div id="result8" class="resultLights"></div>
            </div>

            <div id="output">
                <%= output %>
            </div>

            <form id="keypad" action="/validate" method="post">
                <button class="keypad-button" name="button" value="1">1</button>
                <button class="keypad-button" name="button" value="2">2</button>
                <button class="keypad-button" name="button" value="3">3</button>
                <button class="keypad-button" name="button" value="4">4</button>
                <button class="keypad-button" name="button" value="5">5</button>
                <button class="keypad-button" name="button" value="6">6</button>
                <button class="keypad-button" name="button" value="7">7</button>
                <button class="keypad-button" name="button" value="8">8</button>
                <button class="keypad-button" name="button" value="9">9</button>
                <button class="keypad-button" name="button" value="backspace">
                    <!-- base SVG code courtesy of streamlinehq.com -->
                    <svg fill="none" viewBox="0 0 24 24" height="4rem" width="4rem" xmlns="http://www.w3.org/2000/svg">
                        <path fill="currentColor"
                            d="M20.233 3.7704H9.4522c-0.9351 0.0008 -1.8316 0.3729 -2.4924 1.0346l-6.372 6.3603c-0.1102 0.1093 -0.1977 0.2394 -0.2574 0.3826C0.2707 11.6912 0.24 11.8448 0.24 12s0.0307 0.3089 0.0904 0.4522c0.0597 0.1432 0.1472 0.2732 0.2574 0.3825l6.372 6.3604c0.6608 0.6616 1.5573 1.0337 2.4924 1.0345H20.233c0.9354 0 1.8325 -0.3716 2.494 -1.033 0.6614 -0.6615 1.033 -1.5586 1.033 -2.494V7.2974c0 -0.9354 -0.3716 -1.8325 -1.033 -2.494 -0.6615 -0.6614 -1.5586 -1.033 -2.494 -1.033Zm1.1757 12.9322c0 0.3118 -0.1239 0.6109 -0.3444 0.8314s-0.5195 0.3443 -0.8313 0.3443H9.4522c-0.3112 -0.0044 -0.6094 -0.1262 -0.8347 -0.3409L3.0802 12l5.5373 -5.5373c0.2253 -0.2149 0.5235 -0.3367 0.8347 -0.341H20.233c0.3118 0 0.6109 0.1239 0.8313 0.3444 0.2205 0.2204 0.3444 0.5195 0.3444 0.8313v9.4052ZM17.5408 8.814c-0.1094 -0.1102 -0.2394 -0.1977 -0.3826 -0.2574 -0.1433 -0.0597 -0.297 -0.0904 -0.4522 -0.0904s-0.3088 0.0307 -0.4521 0.0904c-0.1432 0.0597 -0.2732 0.1472 -0.3826 0.2574l-1.5166 1.5283 -1.5166 -1.5283c-0.2213 -0.2214 -0.5216 -0.3458 -0.8347 -0.3458s-0.6133 0.1244 -0.8347 0.3458c-0.2214 0.2213 -0.3458 0.5216 -0.3458 0.8347s0.1244 0.6133 0.3458 0.8347L12.6971 12l-1.5284 1.5166c-0.1102 0.1093 -0.1976 0.2394 -0.2574 0.3826 -0.0597 0.1433 -0.0904 0.2969 -0.0904 0.4521s0.0307 0.3089 0.0904 0.4522c0.0598 0.1432 0.1472 0.2732 0.2574 0.3825 0.1093 0.1102 0.2394 0.1977 0.3826 0.2574 0.1433 0.0597 0.2969 0.0904 0.4521 0.0904s0.3089 -0.0307 0.4522 -0.0904c0.1432 -0.0597 0.2732 -0.1472 0.3825 -0.2574l1.5166 -1.5283 1.5166 1.5283c0.1094 0.1102 0.2394 0.1977 0.3826 0.2574 0.1433 0.0597 0.297 0.0904 0.4522 0.0904s0.3088 -0.0307 0.4521 -0.0904c0.1432 -0.0597 0.2732 -0.1472 0.3826 -0.2574 0.1101 -0.1093 0.1976 -0.2393 0.2573 -0.3825 0.0597 -0.1433 0.0904 -0.297 0.0904 -0.4522s-0.0306 -0.3088 -0.0904 -0.4521c-0.0597 -0.1432 -0.1472 -0.2733 -0.2573 -0.3826L16.0124 12l1.5284 -1.5166c0.1101 -0.1093 0.1976 -0.2394 0.2573 -0.3826 0.0597 -0.1433 0.0904 -0.2969 0.0904 -0.4521s-0.0306 -0.3089 -0.0904 -0.4521c-0.0597 -0.1433 -0.1472 -0.2733 -0.2573 -0.3826Z">
                        </path>
                    </svg>
                </button>
                <button class="keypad-button" name="button" value="0">0</button>
                <button class="keypad-button" name="button" value="enter">
                    <!-- base SVG code courtesy of streamlinehq.com -->
                    <svg fill="none" viewBox="0 0 24 24" height="4rem" width="4rem" xmlns="http://www.w3.org/2000/svg">
                        <path fill="currentColor"
                            d="M22.2895 3.9082c-0.3899 0 -0.764 0.1549 -1.0397 0.4307 -0.2759 0.2758 -0.4307 0.6498 -0.4307 1.0398v5.8818c0 0.39 -0.155 0.7641 -0.4307 1.0398s-0.6498 0.4307 -1.0398 0.4307H5.2469l1.9116 -1.8969c0.2769 -0.2769 0.4325 -0.6525 0.4325 -1.044s-0.1556 -0.7672 -0.4325 -1.0441c-0.2769 -0.2769 -0.6524 -0.4324 -1.044 -0.4324s-0.7671 0.1555 -1.044 0.4324L0.6591 13.1574c-0.1339 0.1398 -0.2388 0.3047 -0.3088 0.4853 -0.1471 0.358 -0.1471 0.7594 0 1.1175 0.07 0.1806 0.1749 0.3454 0.3088 0.4853l4.4114 4.4113c0.1367 0.1378 0.2993 0.2472 0.4785 0.3219 0.1792 0.0747 0.3714 0.1131 0.5655 0.1131s0.3863 -0.0384 0.5655 -0.1131c0.1792 -0.0747 0.3418 -0.1841 0.4785 -0.3219 0.1379 -0.1367 0.2472 -0.2994 0.3219 -0.4785 0.0747 -0.1792 0.1131 -0.3714 0.1131 -0.5655s-0.0385 -0.3863 -0.1131 -0.5655c-0.0747 -0.1791 -0.184 -0.3418 -0.3219 -0.4785l-1.9116 -1.8969h14.1017c1.1699 0 2.292 -0.4648 3.1193 -1.2921 0.8273 -0.8273 1.2921 -1.9494 1.2921 -3.1193V5.3787c0 -0.39 -0.155 -0.764 -0.4307 -1.0398 -0.2757 -0.2758 -0.6498 -0.4307 -1.0398 -0.4307Z">
                        </path>
                    </svg>
                </button>
            </form>

            <div id="bottom">
                <div id="stagearea">
                    <span id="stagetext">STAGE</span>
                    <div class="stagelights" id="stage1">
                        <!-- base SVG code courtesy of streamlinehq.com -->
                        <svg id="light1" class="light-off" fill="currentColor" viewBox="0 0 24 24" height="3rem" width="3rem" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.23 3.45c0 -1.77603125 1.44396875 -3.2199999999999998 3.2199999999999998 -3.2199999999999998h16.1c1.77603125 0 3.2199999999999998 1.44396875 3.2199999999999998 3.2199999999999998v16.1c0 1.77603125 -1.44396875 3.2199999999999998 -3.2199999999999998 3.2199999999999998H3.45c-1.77603125 0 -3.2199999999999998 -1.44396875 -3.2199999999999998 -3.2199999999999998V3.45Z"
                                stroke-width="1"></path>
                            <text x="50%" y="55%">1</text>
                        </svg>
                    </div>
                    <div class="stagelights" id="stage2">
                        <!-- base SVG code courtesy of streamlinehq.com -->
                        <svg id="light2" class="light-off" fill="currentColor" viewBox="0 0 24 24" height="3rem" width="3rem" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.23 3.45c0 -1.77603125 1.44396875 -3.2199999999999998 3.2199999999999998 -3.2199999999999998h16.1c1.77603125 0 3.2199999999999998 1.44396875 3.2199999999999998 3.2199999999999998v16.1c0 1.77603125 -1.44396875 3.2199999999999998 -3.2199999999999998 3.2199999999999998H3.45c-1.77603125 0 -3.2199999999999998 -1.44396875 -3.2199999999999998 -3.2199999999999998V3.45Z"
                                stroke-width="1"></path>
                            <text x="50%" y="55%">2</text>
                        </svg>
                    </div>
                    <div class="stagelights" id="stage3">
                        <!-- base SVG code courtesy of streamlinehq.com -->
                        <svg id="light3" class="light-off" fill="currentColor" viewBox="0 0 24 24" height="3rem" width="3rem" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.23 3.45c0 -1.77603125 1.44396875 -3.2199999999999998 3.2199999999999998 -3.2199999999999998h16.1c1.77603125 0 3.2199999999999998 1.44396875 3.2199999999999998 3.2199999999999998v16.1c0 1.77603125 -1.44396875 3.2199999999999998 -3.2199999999999998 3.2199999999999998H3.45c-1.77603125 0 -3.2199999999999998 -1.44396875 -3.2199999999999998 -3.2199999999999998V3.45Z"
                                stroke-width="1"></path>
                            <text x="50%" y="55%">3</text>
                        </svg>
                    </div>
                </div>
                <form action="/reset" method="post">
                    <button id="reset">RESET</button>
                </form>
            </div>
        </div>
    </div>
    <!-- setup backend variables for frontend external javascript -->
    <script>
        if (<%= locals.output.length %> > 0) {
            const outputCode = <%= output %>;
        }
        const resultArray = ['no'];
        if (<%= locals.resultColors.length %> > 1) {
            resultArray = <% resultColors %>;
        }
        const currentStage = <%= stage %>;
        const lockedStatus = <%= locked %>;
        const flashOutputStatus = <%= flashOutput %>;
        const timerEnd = <%= timer %>;
        const flashButtonsStatus = <%= flashButtons %>;
    </script>
    <!-- load external js file -->
    <script src="./static/scripts/script.js"></script>
</body>

</html>